{% extends "layout.html" %}

{% block title %}
    Add job
{% endblock %}

{% block main %}
<h1 style="font-family: 'Comic Sans MS', cursive; font-size: 40px;">Submit a new job</h1>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="company" placeholder="Company" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="position" placeholder="Position" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="contact" placeholder="Contact" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="location" placeholder="Location" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
