{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h1 style="font-family: 'Comic Sans MS', cursive; font-size: 80px;">Welcome to the CS50 Jobroom</h1>

<p style="margin-top: 90px; font-size: 30px;">If you are a job seeker, please proceed to the <a href="/jobs">jobs</a> page</p>

<p style="margin-top: 40px; font-size: 30px;">If you would like to post a new job, please <a href="/login">log in</a> or <a href="/register">register</a> first.</p>
<p style="font-size: 30px;">After you can post new jobs <a href="/add">here</a>.</p>

{% endblock %}
